<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                Paramétrage
            </nb-card-header>
            <nb-card-body>
                <div class="row show-grid">
                    <div class="col-md-6">
                        <ngx-type></ngx-type>
                    </div>
                    <div class="col-md-6">
                        <ngx-dommage></ngx-dommage>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>