 <div style="text-align:center">
	<div>
		<webcam [height]="500" [width]="500" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
		 [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable" [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
		 (initError)="handleInitError($event)"></webcam>
		<br/>
			<button class="actionBtn" nbButton fullWidth hero  status="warning" (click)="triggerSnapshot()">Scan</button>
            <button class="actionBtn" nbButton fullWidth hero  status="danger" (click)="fermer()">annuler</button>
        <br>
	</div>
</div>


<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
	<li>{{error | json}}</li>
</ul>