@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ::ng-deep .form {
    display: flex;
    flex-direction: column;
  }
}

.scrollWindow {
  max-height: 500px;
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}