<form class="form-group"  #form="ngForm" (ngSubmit)="onAddChargeur()"  #monFormulairej = ngForm autocomplete="off">
    <nb-card class="scrollWindow">
        <nb-card-body>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputNom" class="label">Intitule</label>
                        <input type="text" nbInput fullWidth id="Intitule" placeholder="Intitule" name="Intitule" [(ngModel)]="chargeur.intitule" (change)="calculateUser($event)" >
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputPrenom" class="label">Pays</label>
                        <input type="text" nbInput fullWidth id="Pays" placeholder="Pays" name="Pays" [(ngModel)]="chargeur.pays" (change)="calculateUser($event)" >
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputEmail" class="label">Adresse</label>
                        <input type="text" nbInput fullWidth id="Adresse" placeholder="Adresse" name="Adresse" [(ngModel)]="chargeur.adresse" >
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputEmail" class="label">Email</label>
                        <input type="email" class="form-control" nbInput fullWidth id="Email" placeholder="Email" name="Email" required [(ngModel)]="chargeur.email" pattern=".+@.+\..+" #Email="ngModel">
                        <ng-container *ngIf="Email.invalid && Email.touched">
                            <p style="top: 7px; position: relative;"  class="caption status-danger" *ngIf="Email.errors?.required">
                              Vous devez indiquer l'adresse e-mail
                            </p>
                            <p style="top: 7px; position: relative;"  class="caption status-danger" *ngIf="Email.errors?.pattern">
                              L'adresse e-mail n'est pas valide
                            </p>
                          </ng-container>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputTel" class="label">Tel</label>
                        <input type="text" nbInput fullWidth id="Tel" placeholder="Tel" name="Tel" [(ngModel)]="chargeur.numTel">
                    </div>
                </div>
            </div>
            <div style="text-align:left;" *ngIf="!haveUser">
                <nb-toggle status="warning" (change)="userToBeAdd($event)">Affecter un compte</nb-toggle>
            </div>

            <div class="row" *ngIf="toBeAdd || haveUser">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputPseudo" class="label">Pseudo</label>
                        <input type="text" nbInput fullWidth id="Pseudo" placeholder="Pseudo" name="pseudo" [(ngModel)]="user.pseudo" [disabled]="editingUser"> 
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputmdp" class="label">Mot de passe</label>
                        <input type="text" nbInput fullWidth id="mdp" placeholder="Mot de passe" name="mpd" [(ngModel)]="user.mpd" [disabled]="true">
                    </div>
                </div>

            </div>

        </nb-card-body>
        <nb-card-footer>
            <div style="text-align:right;">
                <button nbButton hero status="success" type="submit" [disabled]=!monFormulairej.valid>{{A}}</button>
                <button nbButton hero status="warning" (click)="fermer();" style="margin-left: 30px;">Annuler</button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>