<!-- <nb-card>
    <nb-card-body>
        <img src="../../../assets/images/construction.png" alt="" style="  width: 100%;
        height: auto;">
    </nb-card-body>
</nb-card> -->


<div class="container">
    <div class="row">

      <div class="col">
        <div class="row">
            <div class="col">
                <nb-card>
                    <nb-card-header>
                    Chargement
                    </nb-card-header>
                    <nb-card-body>
                            <div class="progress-info" >
                              <div class="h3">{{nbrConstatCh}}</div>
                              <nb-progress-bar [value]="nbrConstatCh"></nb-progress-bar>
                              <div class="caption description">
                                <bdi>Le nombre totale des constats est {{nbrAllConstat}}</bdi>
                              </div>
                            </div>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col">
                <nb-card>
                    <nb-card-header>
                    Dechargement
                    </nb-card-header>
                      <nb-card-body>
                        <div class="progress-info" >
                          <div class="h3">{{nbrconstatDch}}</div>
                          <nb-progress-bar [value]="nbrConstatCh"></nb-progress-bar>
                          <div class="caption description">
                            <bdi>Le nombre totale des constats est {{nbrAllConstat}}</bdi>
                          </div>
                        </div>
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

        <nb-card>
            <nb-card-header>
            Constat
            </nb-card-header>
            <nb-card-body>

                <nb-tabset fullWidth>
                  <nb-tab tabTitle="Inspecteur">
                    <nb-list>
                        <nb-list-item class="item" *ngFor="let inspecteur of inspecteurs;">
                          <span>{{ inspecteur.nom }} {{ inspecteur.prenom }}</span>
                          <span><nb-icon icon="arrow-upward-outline" status="success"></nb-icon>.</span>
                          <span><nb-icon icon="arrow-downward-outline" status="danger"></nb-icon>.</span> 
                        </nb-list-item>
                      </nb-list>
                  </nb-tab>
                  <nb-tab tabTitle="Chargeur">
                    <nb-list>
                        <nb-list-item class="item" *ngFor="let chargeur of chargeurs;">
                          <span>{{ chargeur.intitule }}</span>
                          <span><nb-icon icon="arrow-upward-outline" status="success"></nb-icon>.</span>
                          <span><nb-icon icon="arrow-downward-outline" status="danger"></nb-icon>.</span> 
                        </nb-list-item>
                      </nb-list>
                  </nb-tab>
                </nb-tabset>
            
              </nb-card-body>
        </nb-card>
        
      </div>

      
   
        <nb-card class="col">
            <nb-card-header>Voyages : {{nbrAllVoyage}}</nb-card-header>
            <nb-card-body>
              <div echarts [options]="options" class="echart"></div>
            </nb-card-body>
          </nb-card>
  

    </div>

  </div>







<!-- <nb-card size="tiny">
    <nb-card-header>
        <span>Nombre des constats</span>

        <nb-select [(selected)]="type">
            <nb-option *ngFor="let t of types" [value]="t">{{ t }}</nb-option>
        </nb-select>
    </nb-card-header>
</nb-card> -->
<!-- 
<nb-card-header>
    <i class="ion-social-usd"></i>
    <span class="title">Chargeurs</span>
</nb-card-header>
<nb-card-body>
    <ngx-stats-bar-animation-chart [linesData]="linesData"></ngx-stats-bar-animation-chart>
</nb-card-body>


<div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)">
</div>


<nb-card-header>
    <i class="ion-social-usd"></i>
    <span class="title">Inspecteurs</span>
</nb-card-header>
<nb-card-body>
    <div class="info">
        <div class="period">
            <div class="caption">constats chargés</div>
            <div class="label">
                <span class="currency"></span>300
            </div>
        </div>
        <div class="period latest">
            <div class="caption">constats chargés</div>
            <div class="label">
                <span class="currency"></span>860
            </div>
        </div>
    </div>
    <ngx-stats-ares-chart [points]="chartData"></ngx-stats-ares-chart>
</nb-card-body> -->