<form class="form-group" #form="ngForm"  #monFormulairej=ngForm autocomplete="off">
    <nb-card>
        <nb-card-header>

            <div class="row">
                <div class="col-sm-6">
                    <h5 class="text-info">Constat de surveillance</h5>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputRemorque" class="label">Voyage</label>
                        <ng-select placeholder="Choisissez le voyage" required bindLabel="code"
                            [items]=listeVoyageNonArchive bindValue="id" [(ngModel)]="selectedVoyage" name="voyage"
                            (change)="calculateAttr($event)">
                        </ng-select>
                    </div>
                </div>
            </div>
        </nb-card-header>
        <nb-card-header>

            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="input" class="label">Categorie</label>
                        <ng-select placeholder="Choisissez la Categorie" required bindLabel="intitule" [items]=listeType
                            bindValue="id" [(ngModel)]="selectedType" name="type"
                            [disabled]="disabledTypeInput" #categorie="ngModel">
                        </ng-select>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="unite" class="label">Unité</label>
                        <ng-select [items]="listeUnite"
                                   bindLabel="matricule"
                                   bindValue="id"
                                   [addTag]="addNewUnite"
                                   [multiple]="false"
                                   placeholder="selectionner ou ajouter"
                                   [(ngModel)]="selectedUnite"
                                   [ngModelOptions]="{standalone: true}"
                                   (change)="changeType($event)"
                                   [disabled]="categorie.errors?.required">
                        </ng-select>
                    </div>
                </div>




            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputPlomb" class="label">Plomb</label>
                        <input type="text" nbInput fullWidth id="Plomb" name="Plomb" placeholder="Plomb" [(ngModel)]="constat.plombCode">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputWebsite" class="label">Bateau</label>
                        <input type="text" nbInput fullWidth id="bateau" name="bateau" placeholder="Bateau"
                            [(ngModel)]="bateau.intitule" readonly>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputWebsite" class="label">Chargeur</label>
                        <ng-select required placeholder="Chargeur" name="typeclient" bindLabel="intitule"
                            [items]=listeChargeur bindValue="id" [(ngModel)]="selectedChargeur" name="chargeur">
                        </ng-select>
                    </div>
                </div>

            </div>

        </nb-card-header>
        <nb-card-body>
            <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
                <nb-card-front>
                    <nb-card status="danger">
                        <nb-card-header>Chargement</nb-card-header>
                        <nb-card-body>

                            <div class="row">
                                <div class="col-sm-6">
                                    <nb-checkbox status="danger" name="expertiseCh" [(ngModel)]="constat.expertiseCh">Expertise</nb-checkbox>
                                </div>
                                <div class="col-sm-6">
                                    <nb-checkbox status="danger" name="interchangeCh" [(ngModel)]="constat.interchangeCh">Interchange</nb-checkbox>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPlomb" class="label">Remarque</label>
                                <textarea rows="3" nbInput fullWidth status="danger" placeholder="Remarque" name="RemarqueCh" [(ngModel)]="constat.remarqueChargement"></textarea>
                            </div>




                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputInspecteur" class="label">Inspecteur</label>
                                        <input type="text" nbInput fullWidth id="Inspecteur" name="Inspecteur"
                                            placeholder="Inspecteur" [(ngModel)]="inspecteurCh.nom" readonly>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputPort" class="label">Port</label>
                                        <input type="text" nbInput fullWidth id="portChargement" name="portChargement"
                                            placeholder="Port" [(ngModel)]="portChargement.intitule" readonly>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputDate" class="label">Date</label>
                                        <input type="text" nbInput fullWidth id="dateChargement"
                                            [nbDatepicker]="pickerDechargement" status="danger" placeholder="Date"
                                            name="dateChargement" [(ngModel)]="constat.dateChargement">
                                        <nb-datepicker #pickerDechargement></nb-datepicker>
                                    </div>
                                </div>

                            </div>



                            <!--partie dommage -->
                            <div *ngIf="isSaved"> 
                            <div class="row">
                                     <button class="col-sm-4" nbButton hero outline status="info" (click)="openWindowDommage($event)">Ajouter Dommage</button>
                                     <button class="col-sm-4" nbButton hero outline status="warning" (click)="openWindowImage()">Ajouter image</button> 
                                     <button class="col-sm-4" nbButton hero outline  status="success" (click)="reloadTable($event)" ><nb-icon icon="repeat"></nb-icon></button>
                            </div>
                            <br>
                            <div>
                            <ng2-smart-table class="form-group" [settings]="settings" [source]="listDommageItemChargement"
                            (deleteConfirm)="onDeleteConfirm($event)"  (custom)="onCostum($event)">
                            </ng2-smart-table>
                        </div>
                           </div>




                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </nb-card-body>
                        <button class="nb-shuffle"  style="text-align:right;" (click)="filpCalculatePhase()" nbButton hero status="danger">switch</button>
                    </nb-card>

                </nb-card-front>
                <nb-card-back>
                    <nb-card status="info">
                        <nb-card-header>Déchargement</nb-card-header>
                        <nb-card-body>

                            <div class="row">
                                <div class="col-sm-6">
                                    <nb-checkbox status="info" name="expertiseDch" [(ngModel)]="constat.expertiseDch">Expertise</nb-checkbox>
                                </div>
                                <div class="col-sm-6">
                                    <nb-checkbox status="info" name="interchangeDch" [(ngModel)]="constat.interchangeDch">Interchange</nb-checkbox>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPlomb" class="label">Remarque</label>
                                <textarea rows="3" nbInput fullWidth status="info" name="remarqueDechargement" placeholder="Remarque" [(ngModel)]="constat.remarqueDechargement"></textarea>
                            </div>




                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputInspecteur" class="label">Inspecteur</label>
                                        <input type="text" nbInput fullWidth id="Inspecteur" name="Inspecteur"
                                            placeholder="Inspecteur" [(ngModel)]="inspecteurDCh.nom" readonly>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputPort" class="label">Port</label>
                                        <input type="text" nbInput fullWidth id="portDechargement"
                                            name="portDechargement" placeholder="Port"
                                            [(ngModel)]="portDechargement.intitule" readonly>
                                    </div>
                                </div>

                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputDate" class="label">Date</label>
                                        <input type="text" nbInput fullWidth id="Date" [nbDatepicker]="pickerChargement"
                                            status="info" placeholder="Date" name="dateDechargement" [(ngModel)]="constat.dateDechargement">
                                        <nb-datepicker #pickerChargement></nb-datepicker>
                                    </div>
                                </div>

                            </div>

                            <!--partie dommage -->
                        <div *ngIf="isSaved"> 
                           <div class="row">
                            <button class="col-sm-4" nbButton hero outline status="info" (click)="openWindowDommage($event)">Ajouter Dommage</button>
                            <button class="col-sm-4" nbButton hero outline status="warning" (click)="openWindowImage()">Ajouter image</button> 
                            <button class="col-sm-4" nbButton hero outline  status="success" (click)="reloadTable($event)" ><nb-icon icon="repeat"></nb-icon></button>
                            </div>
                                <br>
                            <div>
                            <ng2-smart-table class="form-group" [settings]="settings" [source]="listDommageItemChargement"
                            (deleteConfirm)="onDeleteConfirm($event)"  (custom)="onCostum($event)">
                            </ng2-smart-table>
                            </div>
                            </div>
                            
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                        </nb-card-body>
                     <button class="nb-shuffle" (click)="filpCalculatePhase()" nbButton hero status="info">switch</button>
                    </nb-card>
                </nb-card-back>
            </nb-flip-card>
            <div style="text-align:right;">
                <button *ngIf="isSaved"  nbButton hero (click)="viewPdf()"  status="primary"  ><nb-icon icon="eye-outline"></nb-icon></button>
                <button  *ngIf="isSaved"  nbButton hero (click)="downloadPdf()"  status="warning"  ><nb-icon icon="download-outline"></nb-icon></button>
                <button nbButton hero status="success" (click)="onSave()">{{A}} </button>
            </div>
        </nb-card-body>
    </nb-card>
</form>