<form class="form-group"  #form="ngForm" (click)="onAddDommageItem()"  #monFormulairej = ngForm autocomplete="off">
<nb-card>
        <nb-card-body>
            <div class="row">

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputDescription" class="label">Description</label>
                        <ng-select required placeholder="Description" name="Description">
                            <ng-option [value]="'Personne'">Personne</ng-option>
                            <ng-option [value]="'Société'">Société</ng-option>
                        </ng-select>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputPosition" class="label">Position</label>
                        <ng-select required placeholder="Position" name="Position">
                            <ng-option [value]="'D'">Droite</ng-option>
                            <ng-option [value]="'G'">Gauche</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputWebsite" class="label">Dommage</label>
                        <ng-select [items]="dommages"
                                   bindLabel="name"
                                   bindValue="id"
                                   [addTag]="addCustomUser"
                                   [multiple]="false"
                                   placeholder="selectionner ou ajouter"
                                   [(ngModel)]="dommageNgModel"
                                   [ngModelOptions]="{standalone: true}">
                        </ng-select>
                    </div>
                </div>

            </div>
        </nb-card-body>
        <nb-card-footer>
            <div style="text-align:right;">
                <button nbButton status="success" type="submit" [disabled]=!monFormulairej.valid>Ajouter</button>
                <button nbButton status="warning" (click)="fermer();" style="margin-left: 30px;">Return</button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
