<div style="position:absolute;left:50%;margin-left:-297px;top:0px;height: 842px;width: 595px;;border-style:outset;overflow:hidden;" id="content" #content>  
<div style="position:absolute;left:0px;top:0px">
<img src="assets/images/background1.jpg" width=595 height=842></div>
<div style="position:absolute;left:30.50px;top:31.00px" class="cls_002"><span class="cls_002">general@esurveys.fr</span></div>
<div style="position:absolute;left:495.27px;top:31.00px" class="cls_002"><span class="cls_002"> </span><A HREF="http://www.esurveys.fr/">www.esurveys.fr</A> </div>
<div style="position:absolute;left:204.99px;top:33.00px" class="cls_006"><span class="cls_006">CONSTAT de surveillance</span></div>
<div style="position:absolute;left:30.50px;top:45.00px" class="cls_005"><span class="cls_005">TEL: +33 (0) 495 069 230</span></div>
<div style="position:absolute;left:462.27px;top:45.00px" class="cls_003"><span class="cls_003">FAX:</span><span class="cls_004"> +33(0) 491 467 892</span></div>
<div style="position:absolute;left:508.95px;top:61.99px" class="cls_017"><span class="cls_017">Inspecteur</span></div>
<div style="position:absolute;left:166.82px;top:66.66px" class="cls_007"><span class="cls_007">Port</span></div>
<div style="position:absolute;left:210.97px;top:64.83px" class="cls_008"><span class="cls_008">Chargement</span></div>
<div style="position:absolute;left:291.30px;top:66.66px" class="cls_007"><span class="cls_007">Date</span></div>
<div style="position:absolute;left:334.49px;top:67.66px" class="cls_007"><span class="cls_007">Port</span></div>
<div style="position:absolute;left:367.62px;top:64.99px" class="cls_008"><span class="cls_008">Déchargement</span></div>
<div style="position:absolute;left:459.14px;top:67.66px" class="cls_007"><span class="cls_007">Date</span></div>
<div style="position:absolute;left:29.67px;top:74.32px" class="cls_009"><span class="cls_009">Elyssa</span></div>
<div style="position:absolute;left:500.29px;top:71.99px" class="cls_019"><span class="cls_019">1</span></div>
<div style="position:absolute;left:512.96px;top:75.99px" class="cls_010"><span class="cls_010">AG</span></div>
<div style="position:absolute;left:542.64px;top:71.69px" class="cls_020"><span class="cls_020">2</span></div>
<div style="position:absolute;left:553.31px;top:75.69px" class="cls_010"><span class="cls_010">MO</span></div>
<div style="position:absolute;left:165.99px;top:79.66px" class="cls_009"><span class="cls_009">Marseille</span></div>
<div style="position:absolute;left:265.93px;top:81.66px" class="cls_010"><span class="cls_010">27/11/2021</span></div>
<div style="position:absolute;left:333.98px;top:80.66px" class="cls_009"><span class="cls_009">Rades</span></div>
<div style="position:absolute;left:433.92px;top:82.66px" class="cls_010"><span class="cls_010">28/11/2021</span></div>
<div style="position:absolute;left:18.01px;top:108.99px" class="cls_011"><span class="cls_011">ID :</span><span class="cls_012"> ES786EG</span></div>
<div style="position:absolute;left:173.90px;top:107.99px" class="cls_011"><span class="cls_011">Plomb :</span><span class="cls_009"> 2582256</span></div>
<div style="position:absolute;left:286.19px;top:109.48px" class="cls_011"><span class="cls_011">Type :</span></div>
<div style="position:absolute;left:321.98px;top:111.99px" class="cls_021"><span class="cls_021">FOURGON</span></div>
<div style="position:absolute;left:464.96px;top:108.99px" class="cls_011"><span class="cls_011">CH :</span><span class="cls_012"> SCHENKER</span></div>
<div style="position:absolute;left:62.16px;top:142.99px" class="cls_013"><span class="cls_013">PHASE 1*</span></div>
<div style="position:absolute;left:187.51px;top:141.82px" class="cls_013"><span class="cls_013">CHARGEMENT</span></div>
<div style="position:absolute;left:334.63px;top:142.99px" class="cls_014"><span class="cls_014">PHASE 2*</span></div>
<div style="position:absolute;left:443.19px;top:142.99px" class="cls_014"><span class="cls_014">DECHARGEMENT</span></div>
<div style="position:absolute;left:35.50px;top:158.98px" class="cls_015"><span class="cls_015">Description</span></div>
<div style="position:absolute;left:103.32px;top:159.48px" class="cls_015"><span class="cls_015">Posi._Dommage  Dim./Nbre  Détail</span></div>
<div style="position:absolute;left:267.31px;top:159.65px" class="cls_015"><span class="cls_015">Ancien.</span></div>
<div style="position:absolute;left:317.47px;top:158.98px" class="cls_015"><span class="cls_015">Description   Posi. Dommage  Dim./Nbre  Détail</span></div>
<div style="position:absolute;left:544.95px;top:159.48px" class="cls_015"><span class="cls_015">Ancien.</span></div>
<div style="position:absolute;left:174.46px;top:172.15px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:309.59px;top:172.73px" class="cls_017"><span class="cls_017">Cabochon feu</span></div>
<div style="position:absolute;left:418.25px;top:172.46px" class="cls_017"><span class="cls_017">CS</span></div>
<div style="position:absolute;left:452.51px;top:172.06px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:478.21px;top:172.73px" class="cls_018"><span class="cls_018">2</span></div>
<div style="position:absolute;left:558.75px;top:177.96px" class="cls_017"><span class="cls_017">AC</span></div>
<div style="position:absolute;left:175.45px;top:187.65px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:331.28px;top:185.73px" class="cls_017"><span class="cls_017">stop</span></div>
<div style="position:absolute;left:452.65px;top:188.15px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:23.76px;top:201.73px" class="cls_017"><span class="cls_017">Support feu stop</span></div>
<div style="position:absolute;left:140.58px;top:201.73px" class="cls_017"><span class="cls_017">DF</span></div>
<div style="position:absolute;left:174.46px;top:201.15px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:329.61px;top:201.73px" class="cls_017"><span class="cls_017">Idem</span></div>
<div style="position:absolute;left:452.51px;top:201.06px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:175.45px;top:216.65px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:452.65px;top:217.15px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:23.76px;top:230.73px" class="cls_017"><span class="cls_017">Cremone</span></div>
<div style="position:absolute;left:108.01px;top:230.45px" class="cls_017"><span class="cls_017">G</span></div>
<div style="position:absolute;left:140.58px;top:230.73px" class="cls_017"><span class="cls_017">DF</span></div>
<div style="position:absolute;left:174.46px;top:230.14px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:200.74px;top:230.73px" class="cls_018"><span class="cls_018">1</span></div>
<div style="position:absolute;left:329.61px;top:230.73px" class="cls_017"><span class="cls_017">Idem</span></div>
<div style="position:absolute;left:452.51px;top:230.06px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:175.45px;top:245.65px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:452.65px;top:246.14px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:23.76px;top:259.73px" class="cls_017"><span class="cls_017">Montant ar</span></div>
<div style="position:absolute;left:131.69px;top:259.73px" class="cls_017"><span class="cls_017">RG/DF</span></div>
<div style="position:absolute;left:174.46px;top:259.14px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:200.74px;top:259.72px" class="cls_018"><span class="cls_018">2</span></div>
<div style="position:absolute;left:329.61px;top:259.73px" class="cls_017"><span class="cls_017">Idem</span></div>
<div style="position:absolute;left:452.51px;top:259.06px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:175.45px;top:274.64px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:452.65px;top:275.14px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:23.76px;top:288.72px" class="cls_017"><span class="cls_017">Paroi ondulee</span></div>
<div style="position:absolute;left:108.29px;top:288.45px" class="cls_017"><span class="cls_017">D</span></div>
<div style="position:absolute;left:139.74px;top:288.72px" class="cls_017"><span class="cls_017">RG</span></div>
<div style="position:absolute;left:174.46px;top:288.14px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:191.98px;top:288.72px" class="cls_018"><span class="cls_018">4 000</span></div>
<div style="position:absolute;left:329.61px;top:288.72px" class="cls_017"><span class="cls_017">Idem</span></div>
<div style="position:absolute;left:452.51px;top:288.05px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:175.45px;top:303.64px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:452.65px;top:304.14px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:23.76px;top:317.72px" class="cls_017"><span class="cls_017">Bord de rive</span></div>
<div style="position:absolute;left:108.29px;top:317.44px" class="cls_017"><span class="cls_017">D</span></div>
<div style="position:absolute;left:139.74px;top:317.72px" class="cls_017"><span class="cls_017">RG</span></div>
<div style="position:absolute;left:174.46px;top:317.14px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:191.98px;top:317.72px" class="cls_018"><span class="cls_018">6 000</span></div>
<div style="position:absolute;left:228.48px;top:317.44px" class="cls_017"><span class="cls_017">Inférieur</span></div>
<div style="position:absolute;left:329.61px;top:317.72px" class="cls_017"><span class="cls_017">Idem</span></div>
<div style="position:absolute;left:452.51px;top:317.05px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:175.45px;top:332.64px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:452.65px;top:333.13px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:23.76px;top:346.72px" class="cls_017"><span class="cls_017">Paroi ondulee</span></div>
<div style="position:absolute;left:108.01px;top:346.44px" class="cls_017"><span class="cls_017">G</span></div>
<div style="position:absolute;left:139.74px;top:346.72px" class="cls_017"><span class="cls_017">RG</span></div>
<div style="position:absolute;left:174.46px;top:346.13px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:191.98px;top:346.72px" class="cls_018"><span class="cls_018">7 000</span></div>
<div style="position:absolute;left:329.61px;top:346.72px" class="cls_017"><span class="cls_017">Idem</span></div>
<div style="position:absolute;left:452.51px;top:346.05px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:175.45px;top:361.63px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:452.65px;top:362.13px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:23.76px;top:375.71px" class="cls_017"><span class="cls_017">Bord de rive</span></div>
<div style="position:absolute;left:108.01px;top:375.44px" class="cls_017"><span class="cls_017">G</span></div>
<div style="position:absolute;left:139.74px;top:375.71px" class="cls_017"><span class="cls_017">RG</span></div>
<div style="position:absolute;left:174.46px;top:375.13px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:191.98px;top:375.71px" class="cls_018"><span class="cls_018">9 000</span></div>
<div style="position:absolute;left:228.48px;top:375.44px" class="cls_017"><span class="cls_017">Inférieur</span></div>
<div style="position:absolute;left:329.61px;top:375.71px" class="cls_017"><span class="cls_017">Idem</span></div>
<div style="position:absolute;left:452.51px;top:375.04px" class="cls_018"><span class="cls_018">Lo</span></div>
<div style="position:absolute;left:175.45px;top:390.63px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:452.65px;top:391.13px" class="cls_018"><span class="cls_018">La</span></div>
<div style="position:absolute;left:26.01px;top:693.93px" class="cls_022"><span class="cls_022">* RG=RAGUER     DF=DEFORMER    CS=CASSER</span></div>
<div style="position:absolute;left:242.46px;top:693.93px" class="cls_022"><span class="cls_022">CP=COUPER</span></div>
<div style="position:absolute;left:314.69px;top:693.93px" class="cls_022"><span class="cls_022">MA=MANQUANT   FR=FROTTER</span></div>
<div style="position:absolute;left:460.67px;top:693.93px" class="cls_022"><span class="cls_022">DH=DECHIRER</span></div>
<div style="position:absolute;left:26.01px;top:713.93px" class="cls_022"><span class="cls_022">PF=PERFORER    RAP=RAPIECER   RG/DF=RAGUER&DEFORMER</span></div>
<div style="position:absolute;left:21.01px;top:733.93px" class="cls_009"><span class="cls_009">Expertise</span><span class="cls_019">  C</span></div>
<div style="position:absolute;left:121.66px;top:733.93px" class="cls_020"><span class="cls_020">D</span></div>
<div style="position:absolute;left:263.30px;top:732.93px" class="cls_009"><span class="cls_009">Remarque (s)</span></div>
<div style="position:absolute;left:438.64px;top:733.93px" class="cls_009"><span class="cls_009">Interchange</span><span class="cls_019">  C</span></div>
<div style="position:absolute;left:554.29px;top:733.93px" class="cls_020"><span class="cls_020">D</span></div>
</div>







<button nbButton status="success" (click)="exportAsPDF();">Ajouter</button>