<form class="form-group" #form="ngForm" (ngSubmit)="onSave()" #monFormulairej=ngForm autocomplete="off">
    <nb-card>
        <nb-card-body>
            <div class="form-group">
                <label for="Intitule" class="label">Intitule</label>
                <input type="text" class="form-control" nbInput [(ngModel)]="dommage.intitule" placeholder="Intitule"
                name="intitule" />
            </div>
                
        </nb-card-body>
        <nb-card-footer>
            <div style="text-align:right;">
                <button nbButton hero status="success" type="submit" [disabled]=!monFormulairej.valid>{{A}}</button>
                <button nbButton hero status="warning" (click)="fermer();" style="margin-left: 30px;">Annuler</button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>