        <nb-accordion>
            <nb-accordion-item>
                <nb-accordion-item-header>Paramétrage</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div style="text-align:center">
                        <video controls style="  width: 100%; height: auto;">
                            <source src="./../../../assets/vid/Parametrage.mp4" type="video/mp4">
                        </video>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>