        <nb-accordion>
            <nb-accordion-item>
                <nb-accordion-item-header>Paramétrage</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div style="text-align:center">
                        <video controls style="  width: 100%; height: auto;">
                            <source src="./../../../assets/vid/Parametrage.mp4" type="video/mp4">
                        </video>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
                <nb-accordion-item-header>Gestion des utilisateurs</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div style="text-align:center">
                        <video controls style="  width: 100%; height: auto;">
                            <source src="./../../../assets/vid/User.mp4" type="video/mp4">
                        </video>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
                <nb-accordion-item-header>Gestion des voyages</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div style="text-align:center">
                        <video controls style="  width: 100%; height: auto;">
                            <source src="./../../../assets/vid/Voyage.mp4" type="video/mp4">
                        </video>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
                <nb-accordion-item-header>Gestion des constats (Mobile)</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div style="text-align:center">
                        <video controls style="  width: auto; height: 100%;">
                            <source src="./../../../assets/vid/Constat.mp4" type="video/mp4">
                        </video>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
            <nb-accordion-item>
                <nb-accordion-item-header>Gestion des voyages (Mobile)</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div style="text-align:center">
                        <video controls style="  width: auto; height: 100%;">
                            <source src="./../../../assets/vid/VoyageMobile.mp4" type="video/mp4">
                        </video>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>